In [1]:
# import dependencies

import pandas as pd

# DATA Evaluation:  Infant Mortality

### C:\Users\carol\Documents\GitHub\FinalProject-MachineLearning\data\DRAFT

https://wonder.cdc.gov/

In [2]:
# Import Data
wonderBirthData = pd.read_csv("wonderCDCBirthdata_2016-2018.txt", sep='\t', engine='python')

wonderBirthData.head()

,Notes,State of Residence,State of Residence Code,County of Residence,County of Residence Code,2013 Metro/Nonmetro,2013 Metro/Nonmetro Code,Births,% of Total Births,Average Age of Mother (years),Average OE Gestational Age (weeks),Average Birth Weight (grams),Average Pre-pregnancy BMI,Average Number of Prenatal Visits,Average Interval Since Last Other Pregnancy Outcome (months)
0,NaN,Alabama,1.0,"Baldwin County, AL",1003.0,Metro,Metro,2290.0,0.06%,28.01,38.23,3258.78,27.28,11.41,45.87
1,NaN,Alabama,1.0,"Calhoun County, AL",1015.0,Metro,Metro,1265.0,0.03%,26.67,38.11,3168.14,28.85,10.45,41.11
2,NaN,Alabama,1.0,"Etowah County, AL",1055.0,Metro,Metro,1191.0,0.03%,26.51,38.22,3190.27,28.85,9.62,48.44
3,NaN,Alabama,1.0,"Houston County, AL",1069.0,Metro,Metro,1368.0,0.04%,27.04,38.29,3206.84,29.33,11.29,38.53
4,NaN,Alabama,1.0,"Jefferson County, AL",1073.0,Metro,Metro,8437.0,0.22%,28.44,38.24,3161.29,27.67,10.27,52.84

In [3]:
wonderBirthData.shape

(724, 15)

In [4]:
wonderBirthData.describe()

,State of Residence Code,County of Residence Code,Births,Average Age of Mother (years),Average OE Gestational Age (weeks),Average Birth Weight (grams),Average Pre-pregnancy BMI,Average Number of Prenatal Visits,Average Interval Since Last Other Pregnancy Outcome (months)
count,668.000000,668.000000,668.000000,668.000000,668.000000,668.000000,668.000000,668.000000,668.000000
mean,29.122754,29335.205090,5676.215569,28.785284,38.448518,3273.888069,27.369057,11.420284,46.370958
std,15.448028,15483.692928,8025.967034,1.335792,0.205803,63.052257,0.876296,1.012007,5.382828
min,1.000000,1003.000000,308.000000,26.150000,37.740000,3031.870000,24.020000,8.710000,31.910000
25%,16.000000,16999.000000,1719.250000,27.827500,38.320000,3233.042500,26.867500,10.770000,42.957500
50%,29.000000,29999.000000,2930.000000,28.605000,38.450000,3278.905000,27.475000,11.355000,45.995000
75%,42.000000,42041.500000,6757.500000,29.612500,38.600000,3319.960000,27.970000,12.020000,49.785000
max,56.000000,56999.000000,110271.000000,33.340000,39.090000,3433.240000,29.510000,15.950000,69.710000

In [75]:
wonderBirthData.drop(columns=['Notes'])

,State of Residence,State of Residence Code,County of Residence,County of Residence Code,2013 Metro/Nonmetro,2013 Metro/Nonmetro Code,Births,% of Total Births,Average Age of Mother (years),Average OE Gestational Age (weeks),Average Birth Weight (grams),Average Pre-pregnancy BMI,Average Number of Prenatal Visits,Average Interval Since Last Other Pregnancy Outcome (months)
0,Alabama,1.0,"Baldwin County, AL",1003.0,Metro,Metro,2290.0,0.06%,28.01,38.23,3258.78,27.28,11.41,45.87
1,Alabama,1.0,"Calhoun County, AL",1015.0,Metro,Metro,1265.0,0.03%,26.67,38.11,3168.14,28.85,10.45,41.11
2,Alabama,1.0,"Etowah County, AL",1055.0,Metro,Metro,1191.0,0.03%,26.51,38.22,3190.27,28.85,9.62,48.44
3,Alabama,1.0,"Houston County, AL",1069.0,Metro,Metro,1368.0,0.04%,27.04,38.29,3206.84,29.33,11.29,38.53
4,Alabama,1.0,"Jefferson County, AL",1073.0,Metro,Metro,8437.0,0.22%,28.44,38.24,3161.29,27.67,10.27,52.84
5,Alabama,1.0,"Lee County, AL",1081.0,Metro,Metro,1810.0,0.05%,28.18,38.24,3218.48,27.38,12.89,41.63
6,Alabama,1.0,"Madison County, AL",1089.0,Metro,Metro,4262.0,0.11%,28.65,38.02,3180.03,27.65,9.80,42.10
7,Alabama,1.0,"Mobile County, AL",1097.0,Metro,Metro,5549.0,0.15%,27.25,37.95,3129.31,28.05,10.87,45.30
8,Alabama,1.0,"Montgomery County, AL",1101.0,Metro,Metro,3139.0,0.08%,27.48,37.90,3083.55,28.68,10.06,55.67
9,Alabama,1.0,"Morgan County, AL",1103.0,Metro,Metro,1432.0,0.04%,26.91,38.14,3205.34,28.04,10.65,43.11
10,Alabama,1.0,"Shelby County, AL",1117.0,Metro,Metro,2250.0,0.06%,29.45,38.46,3284.24,27.38,10.42,47.14
11,Alabama,1.0,"Tuscaloosa County, AL",1125.0,Metro,Metro,2406.0,0.06%,27.43,38.23,3193.12,28.09,9.79,46.45
12,Alabama,1.0,"Unidentified Counties, AL",1999.0,Metro,Metro,9386.0,0.25%,26.99,38.20,3220.36,28.28,10.78,49.17
13,Alabama,1.0,"Unidentified Counties, AL",1999.0,Nonmetro,Nonmetro,12976.0,0.34%,26.42,38.15,3182.33,28.62,10.35,48.27
14,Alaska,2.0,"Anchorage Borough, AK",2020.0,Metro,Metro,3975.0,0.10%,29.11,38.54,3361.20,27.62,11.10,47.59
15,Alaska,2.0,"Unidentified Counties, AK",2999.0,Metro,Metro,2918.0,0.08%,28.19,38.74,3417.14,27.01,11.02,46.06
16,Alaska,2.0,"Unidentified Counties, AK",2999.0,Nonmetro,Nonmetro,3193.0,0.08%,28.21,38.51,3433.24,27.26,10.19,51.87
17,Arizona,4.0,"Cochise County, AZ",4003.0,Metro,Metro,1354.0,0.04%,27.34,38.59,3247.36,27.28,8.71,53.08
18,Arizona,4.0,"Coconino County, AZ",4005.0,Metro,Metro,1506.0,0.04%,28.18,38.50,3226.70,26.93,10.51,52.91
19,Arizona,4.0,"Maricopa County, AZ",4013.0,Metro,Metro,51854.0,1.37%,28.69,38.44,3281.98,27.06,11.09,53.02
20,Arizona,4.0,"Mohave County, AZ",4015.0,Metro,Metro,1796.0,0.05%,27.09,38.52,3289.40,27.61,10.66,53.57
21,Arizona,4.0,"Navajo County, AZ",4017.0,Nonmetro,Nonmetro,1381.0,0.04%,27.14,38.35,3211.44,28.43,9.74,57.99
22,Arizona,4.0,"Pima County, AZ",4019.0,Metro,Metro,10671.0,0.28%,28.36,38.48,3244.32,27.16,9.56,55.82
23,Arizona,4.0,"Pinal County, AZ",4021.0,Metro,Metro,4498.0,0.12%,27.81,38.48,3310.29,28.09,11.67,56.48
24,Arizona,4.0,"Yavapai County, AZ",4025.0,Metro,Metro,1772.0,0.05%,27.70,38.53,3260.13,26.50,11.43,55.69
25,Arizona,4.0,"Yuma County, AZ",4027.0,Metro,Metro,3034.0,0.08%,27.06,38.57,3336.28,28.52,9.70,52.68
26,Arizona,4.0,"Unidentified Counties, AZ",4999.0,Nonmetro,Nonmetro,2857.0,0.08%,27.14,38.29,3249.31,27.89,9.09,52.55
27,Arkansas,5.0,"Benton County, AR",5007.0,Metro,Metro,3778.0,0.10%,28.32,38.31,3291.23,27.05,11.37,46.74
28,Arkansas,5.0,"Faulkner County, AR",5045.0,Metro,Metro,1467.0,0.04%,27.73,38.33,3297.10,28.69,11.46,49.57
29,Arkansas,5.0,"Pulaski County, AR",5119.0,Metro,Metro,5123.0,0.14%,28.06,38.17,3172.79,28.02,10.28,51.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
694,None,NaN,None,NaN,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
695,None,NaN,None,NaN,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
696,None,NaN,None,NaN,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
697,None,NaN,None,NaN,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
698,None,NaN,None,NaN,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
699,None,NaN,None,NaN,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
700,None,NaN,None,NaN,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
701,None,NaN,None,NaN,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
702,None,NaN,None,NaN,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
703,None,NaN,None,NaN,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
704,None,NaN,None,NaN,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
705,None,NaN,None,NaN,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
706,None,NaN,None,NaN,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
707,None,NaN,None,NaN,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
708,None,NaN,None,NaN,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
709,None,NaN,None,NaN,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
710,None,NaN,None,NaN,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
711,None,NaN,None,NaN,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
712,None,NaN,None,NaN,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
713,None,NaN,None,NaN,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
714,None,NaN,None,NaN,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
715,None,NaN,None,NaN,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
716,None,NaN,None,NaN,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
717,None,NaN,None,NaN,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
718,None,NaN,None,NaN,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
719,None,NaN,None,NaN,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
720,None,NaN,None,NaN,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
721,None,NaN,None,NaN,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
722,None,NaN,None,NaN,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
723,None,NaN,None,NaN,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN

http://publicapps.odh.ohio.gov/EDW/DataBrowser/Browse/Mortality

In [5]:
# Import Data
ohioRates = pd.read_csv("Infant Mortality Rates by Ohio Counties.csv")

ohioRates.head()

   DEATH COUNTY  DEATHS
0   2007  Adams     294
1   2008  Adams     314
2   2009  Adams     314
3   2010  Adams     324
4   2011  Adams     309

In [33]:
ohioRates.shape

(1170, 3)

In [34]:
ohioRates.describe

<bound method NDFrame.describe of       DEATH    COUNTY  DEATHS
0      2007     Adams     294
1      2008     Adams     314
2      2009     Adams     314
3      2010     Adams     324
4      2011     Adams     309
5      2012     Adams     328
6      2013     Adams     337
7      2014     Adams     314
8      2015     Adams     347
9      2016     Adams     367
10     2017     Adams     352
11     2018     Adams     338
12     2019     Adams     282
13     2007     Allen    1030
14     2008     Allen    1045
15     2009     Allen    1045
16     2010     Allen    1081
17     2011     Allen    1051
18     2012     Allen    1111
19     2013     Allen    1083
20     2014     Allen    1096
21     2015     Allen    1111
22     2016     Allen    1131
23     2017     Allen    1142
24     2018     Allen    1161
25     2019     Allen     896
26     2007   Ashland     480
27     2008   Ashland     502
28     2009   Ashland     535
29     2010   Ashland     527
...     ...       ...     ...
1140   2016  Williams     441
1141   2017  Williams     448
1142   2018  Williams     453
1143   2019  Williams     313
1144   2007      Wood     952
1145   2008      Wood     949
1146   2009      Wood     951
1147   2010      Wood     987
1148   2011      Wood    1010
1149   2012      Wood     957
1150   2013      Wood    1022
1151   2014      Wood    1132
1152   2015      Wood    1115
1153   2016      Wood    1152
1154   2017      Wood    1168
1155   2018      Wood    1218
1156   2019      Wood     867
1157   2007   Wyandot     222
1158   2008   Wyandot     219
1159   2009   Wyandot     234
1160   2010   Wyandot     212
1161   2011   Wyandot     204
1162   2012   Wyandot     228
1163   2013   Wyandot     255
1164   2014   Wyandot     248
1165   2015   Wyandot     265
1166   2016   Wyandot     253
1167   2017   Wyandot     248
1168   2018   Wyandot     264
1169   2019   Wyandot     192

[1170 rows x 3 columns]>

In [36]:
# Import Data
ohioIMRates = pd.read_csv("Infant (Under 1)Mortality Rates by Ohio Counties.csv")

ohioIMRates.head()

   YEAR COUNTY  DEATHS
0  2007  Adams       5
1  2008  Adams       1
2  2009  Adams       8
3  2010  Adams       2
4  2011  Adams       6

In [37]:
ohioIMRates.shape

(1170, 3)

In [38]:
ohioIMRates.describe()

              YEAR       DEATHS
count  1170.000000  1170.000000
mean   2013.000000    11.289744
std       3.743257    24.413160
min    2007.000000     0.000000
25%    2010.000000     2.000000
50%    2013.000000     4.000000
75%    2016.000000     9.000000
max    2019.000000   174.000000

###    C:\Users\carol\Documents\GitHub\FinalProject-MachineLearning\data\DRAFT\breastfeeding

In [43]:
# Import Data
unicefBFdata = pd.read_excel("breastfeeding/UNICEF_Expanded_Global_Databases_Early_Initiation_May2019.xlsx")

unicefBFdata.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,UNICEF Global database on Infant and Young Chi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Ever Breastfed and Early Initiationof Breastfe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Indicator Names:,Early Initiation of Breastfeeding,Ever Breastfed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Indicator Definitions,Percentage of newborns put to the breast withi...,Percentage of newborns ever breastfed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
unicefBFdata.shape

(91, 15)

### C:\Users\carol\Documents\GitHub\FinalProject-MachineLearning\data\DRAFT\infant_mortality

In [47]:
# Import New data
# Import Data
IMState2017 = pd.read_csv("infant_mortality/Infant Mortality Rates by State 2017.csv")

IMState2017.head()

     YEAR STATE  RATE DEATHS                                               URL
0  2017.0    AL   7.4    434        /nchs/pressroom/states/alabama/alabama.htm
1  2017.0    AK   5.6     59          /nchs/pressroom/states/alaska/alaska.htm
2  2017.0    AZ   5.7    469        /nchs/pressroom/states/arizona/arizona.htm
3  2017.0    AR   8.2    307      /nchs/pressroom/states/arkansas/arkansas.htm
4  2017.0    CA   4.2  1,973  /nchs/pressroom/states/california/california.htm

In [5]:
# Clean Data
stateIM2017cl = stateIM2017.drop(columns=['URL'])
stateIM2017cl.head()

     YEAR STATE  RATE DEATHS
0  2017.0    AL   7.4    434
1  2017.0    AK   5.6     59
2  2017.0    AZ   5.7    469
3  2017.0    AR   8.2    307
4  2017.0    CA   4.2  1,973

In [4]:
# view and describe data
stateIM2017.shape

(251, 5)

In [35]:
stateIM2017.describe()

              YEAR        RATE
count   250.000000  250.000000
mean   2013.400000    6.228000
std       4.326067    1.385965
min    2005.000000    0.000000
25%    2014.000000    5.225000
50%    2015.000000    6.100000
75%    2016.000000    7.175000
max    2017.000000   11.500000

In [49]:
# Import New data
# Import Data
IMState = pd.read_csv("infant_mortality/Infant Mortality Rates by State_multiyear.csv")

IMState.head()

     YEAR STATE  RATE DEATHS                                               URL
0  2017.0    AL   7.4    434        /nchs/pressroom/states/alabama/alabama.htm
1  2017.0    AK   5.6     59          /nchs/pressroom/states/alaska/alaska.htm
2  2017.0    AZ   5.7    469        /nchs/pressroom/states/arizona/arizona.htm
3  2017.0    AR   8.2    307      /nchs/pressroom/states/arkansas/arkansas.htm
4  2017.0    CA   4.2  1,973  /nchs/pressroom/states/california/california.htm

In [50]:
IMState.shape

(251, 5)

In [52]:
# Import New data
# Import Data
nchsICMrates = pd.read_csv("infant_mortality/nchs-childhood-mortality-rates.csv")

nchsICMrates.head()

   Year  Age Group  Death Rate
0  1900  5-9 years       466.1
1  1901  5-9 years       427.6
2  1902  5-9 years       403.3
3  1903  5-9 years       414.7
4  1904  5-9 years       425.0

In [53]:
nchsICMrates.shape

(464, 3)

In [54]:
nchsICMrates.describe()

              Year   Death Rate
count   464.000000   464.000000
mean   1957.500000   197.254526
std      33.521213   295.731958
min    1900.000000    11.400000
25%    1928.750000    41.525000
50%    1957.500000    91.850000
75%    1986.250000   230.025000
max    2015.000000  1983.800000

In [59]:
# Import Data
nchsICMrates19152013 = pd.read_csv("infant_mortality/nchs-infant-and-neonatal-mortality-rates-united-states-1915-2013.csv")

nchsICMrates19152013.head()

       Type  Year  Mortality Rate
0  Neonatal  1915            44.4
1  Neonatal  1916            44.1
2  Neonatal  1917            43.4
3  Neonatal  1918            44.2
4  Neonatal  1919            41.5

In [56]:
nchsICMrates19152013.shape

(198, 3)

In [57]:
nchsICMrates19152013.describe()

             Year  Mortality Rate
count   198.00000      198.000000
mean   1964.00000       25.085152
std      28.64982       21.618889
min    1915.00000        4.010000
25%    1939.25000        7.625000
50%    1964.00000       19.100000
75%    1988.75000       33.950000
max    2013.00000      101.000000

In [60]:
# Import Data
nchsICMrates19152013RACE = pd.read_csv("infant_mortality/nchs-infant-mortality-rates-by-race-united-states-1915-2013.csv")

nchsICMrates19152013RACE.head()

    Race  Year  Infant Mortality Rate
0  Black  1915                  195.2
1  Black  1916                  184.3
2  Black  1917                  173.4
3  Black  1918                  162.5
4  Black  1919                  134.3

In [61]:
nchsICMrates19152013RACE.shape

(198, 3)

In [62]:
nchsICMrates19152013RACE.describe()

             Year  Infant Mortality Rate
count   198.00000              198.00000
mean   1964.00000               40.10101
std      28.64982               36.61733
min    1915.00000                5.07000
25%    1939.25000               14.00000
50%    1964.00000               25.65000
75%    1988.75000               53.20000
max    2013.00000              195.20000

### C:\Users\carol\Documents\GitHub\FinalProject-MachineLearning\data\DRAFT\infant_mortality\CDC_LinkedBirthDeathRates

In [26]:
# Import Data
stateIM2003 = pd.read_csv("infant_mortality/CDC_LinkedBirthDeathRates/Linked Birth  Infant Death Records, 2003-2006.txt", sep='\t', engine='python')

stateIM2003.head()

,Notes,State,State Code,County,County Code,Mother's Bridged Race,Mother's Bridged Race Code,Gender,Gender Code,Year of Death,Year of Death Code,Deaths,Births,Death Rate
0,NaN,Alabama,1.0,"Jefferson County, AL",1073.0,Black or African American,2054-5,Female,F,2003.0,2003.0,27.0,2060.0,13.11
1,NaN,Alabama,1.0,"Jefferson County, AL",1073.0,Black or African American,2054-5,Female,F,2004.0,2004.0,21.0,2086.0,10.07
2,NaN,Alabama,1.0,"Jefferson County, AL",1073.0,Black or African American,2054-5,Female,F,2005.0,2005.0,36.0,2098.0,17.16
3,NaN,Alabama,1.0,"Jefferson County, AL",1073.0,Black or African American,2054-5,Female,F,2006.0,2006.0,34.0,2204.0,15.43
4,NaN,Alabama,1.0,"Jefferson County, AL",1073.0,Black or African American,2054-5,Male,M,2003.0,2003.0,33.0,2094.0,15.76

In [12]:
stateIM2003.shape

(2699, 14)

In [13]:
stateIM2003.describe()

,State Code,County Code,Year of Death,Year of Death Code,Deaths,Births
count,2652.000000,2652.000000,2652.000000,2652.000000,2652.000000,2652.000000
mean,27.473982,27750.484917,2004.515837,2004.515837,37.897436,5449.886501
std,15.320334,15366.721084,1.120828,1.120828,44.026963,7028.249395
min,1.000000,1073.000000,2003.000000,2003.000000,10.000000,284.000000
25%,12.000000,12999.000000,2004.000000,2004.000000,14.000000,1839.500000
50%,27.000000,27123.000000,2005.000000,2005.000000,21.000000,3209.000000
75%,39.000000,39999.000000,2006.000000,2006.000000,38.000000,5692.500000
max,56.000000,56999.000000,2006.000000,2006.000000,377.000000,62946.000000

In [14]:
# Import Data
stateIM2007 = pd.read_csv("infant_mortality/CDC_LinkedBirthDeathRates/Linked Birth  Infant Death Records, 2007-2017 RACE and Year.txt", sep='\t', engine='python')

stateIM2007.head(100)

,Notes,State,State Code,County,County Code,Mother's Single Race,Mother's Single Race Code,Year of Death,Year of Death Code,Gender,Gender Code,Deaths,Births,Death Rate
0,NaN,Alabama,1.0,"Jefferson County, AL",1073.0,Black or African American,2054-5,2017.0,2017.0,Female,F,23.0,1962.0,11.72
1,NaN,Alabama,1.0,"Jefferson County, AL",1073.0,Black or African American,2054-5,2017.0,2017.0,Male,M,32.0,1997.0,16.02
2,NaN,Alabama,1.0,"Jefferson County, AL",1073.0,White,2106-3,2017.0,2017.0,Female,F,15.0,2118.0,7.08 (Unreliable)
3,NaN,Alabama,1.0,"Mobile County, AL",1097.0,Black or African American,2054-5,2017.0,2017.0,Male,M,15.0,1218.0,12.32 (Unreliable)
4,NaN,Alabama,1.0,"Mobile County, AL",1097.0,White,2106-3,2017.0,2017.0,Female,F,11.0,1449.0,7.59 (Unreliable)
5,NaN,Alabama,1.0,"Unidentified Counties, AL",1999.0,Black or African American,2054-5,2017.0,2017.0,Female,F,54.0,5301.0,10.19
6,NaN,Alabama,1.0,"Unidentified Counties, AL",1999.0,Black or African American,2054-5,2017.0,2017.0,Male,M,59.0,5529.0,10.67
7,NaN,Alabama,1.0,"Unidentified Counties, AL",1999.0,White,2106-3,2017.0,2017.0,Female,F,72.0,13805.0,5.22
8,NaN,Alabama,1.0,"Unidentified Counties, AL",1999.0,White,2106-3,2017.0,2017.0,Male,M,95.0,14391.0,6.60
9,NaN,Alaska,2.0,"Unidentified Counties, AK",2999.0,American Indian or Alaska Native,1002-5,2017.0,2017.0,Male,M,10.0,822.0,12.17 (Unreliable)
10,NaN,Arizona,4.0,"Maricopa County, AZ",4013.0,Asian,A,2017.0,2017.0,Male,M,10.0,1300.0,7.69 (Unreliable)
11,NaN,Arizona,4.0,"Maricopa County, AZ",4013.0,Black or African American,2054-5,2017.0,2017.0,Female,F,18.0,1842.0,9.77 (Unreliable)
12,NaN,Arizona,4.0,"Maricopa County, AZ",4013.0,Black or African American,2054-5,2017.0,2017.0,Male,M,22.0,1977.0,11.13
13,NaN,Arizona,4.0,"Maricopa County, AZ",4013.0,White,2106-3,2017.0,2017.0,Female,F,98.0,21399.0,4.58
14,NaN,Arizona,4.0,"Maricopa County, AZ",4013.0,White,2106-3,2017.0,2017.0,Male,M,132.0,21985.0,6.00
15,NaN,Arizona,4.0,"Pima County, AZ",4019.0,White,2106-3,2017.0,2017.0,Female,F,14.0,4597.0,3.05 (Unreliable)
16,NaN,Arizona,4.0,"Pima County, AZ",4019.0,White,2106-3,2017.0,2017.0,Male,M,18.0,4724.0,3.81 (Unreliable)
17,NaN,Arizona,4.0,"Unidentified Counties, AZ",4999.0,American Indian or Alaska Native,1002-5,2017.0,2017.0,Female,F,17.0,1337.0,12.72 (Unreliable)
18,NaN,Arizona,4.0,"Unidentified Counties, AZ",4999.0,American Indian or Alaska Native,1002-5,2017.0,2017.0,Male,M,13.0,1418.0,9.17 (Unreliable)
19,NaN,Arizona,4.0,"Unidentified Counties, AZ",4999.0,White,2106-3,2017.0,2017.0,Female,F,23.0,5091.0,4.52
20,NaN,Arizona,4.0,"Unidentified Counties, AZ",4999.0,White,2106-3,2017.0,2017.0,Male,M,34.0,5362.0,6.34
21,NaN,Arkansas,5.0,"Pulaski County, AR",5119.0,Black or African American,2054-5,2017.0,2017.0,Female,F,14.0,1141.0,12.27 (Unreliable)
22,NaN,Arkansas,5.0,"Pulaski County, AR",5119.0,Black or African American,2054-5,2017.0,2017.0,Male,M,20.0,1193.0,16.76
23,NaN,Arkansas,5.0,"Unidentified Counties, AR",5999.0,Black or African American,2054-5,2017.0,2017.0,Female,F,33.0,2642.0,12.49
24,NaN,Arkansas,5.0,"Unidentified Counties, AR",5999.0,Black or African American,2054-5,2017.0,2017.0,Male,M,24.0,2560.0,9.38
25,NaN,Arkansas,5.0,"Unidentified Counties, AR",5999.0,White,2106-3,2017.0,2017.0,Female,F,78.0,12184.0,6.40
26,NaN,Arkansas,5.0,"Unidentified Counties, AR",5999.0,White,2106-3,2017.0,2017.0,Male,M,103.0,12808.0,8.04
27,NaN,California,6.0,"Alameda County, CA",6001.0,Black or African American,2054-5,2017.0,2017.0,Female,F,10.0,940.0,10.64 (Unreliable)
28,NaN,California,6.0,"Alameda County, CA",6001.0,White,2106-3,2017.0,2017.0,Female,F,13.0,4699.0,2.77 (Unreliable)
29,NaN,California,6.0,"Alameda County, CA",6001.0,White,2106-3,2017.0,2017.0,Male,M,22.0,4765.0,4.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,NaN,California,6.0,"Tulare County, CA",6107.0,White,2106-3,2017.0,2017.0,Male,M,19.0,3365.0,5.65 (Unreliable)
71,NaN,California,6.0,"Ventura County, CA",6111.0,White,2106-3,2017.0,2017.0,Female,F,18.0,4081.0,4.41 (Unreliable)
72,NaN,California,6.0,"Ventura County, CA",6111.0,White,2106-3,2017.0,2017.0,Male,M,23.0,4172.0,5.51
73,NaN,California,6.0,"Unidentified Counties, CA",6999.0,White,2106-3,2017.0,2017.0,Female,F,45.0,11971.0,3.76
74,NaN,California,6.0,"Unidentified Counties, CA",6999.0,White,2106-3,2017.0,2017.0,Male,M,61.0,12750.0,4.78
75,NaN,Colorado,8.0,"Adams County, CO",8001.0,White,2106-3,2017.0,2017.0,Female,F,20.0,2787.0,7.18
76,NaN,Colorado,8.0,"Adams County, CO",8001.0,White,2106-3,2017.0,2017.0,Male,M,10.0,2876.0,3.48 (Unreliable)
77,NaN,Colorado,8.0,"Arapahoe County, CO",8005.0,White,2106-3,2017.0,2017.0,Male,M,13.0,2792.0,4.66 (Unreliable)
78,NaN,Colorado,8.0,"Denver County, CO",8031.0,White,2106-3,2017.0,2017.0,Female,F,12.0,3821.0,3.14 (Unreliable)
79,NaN,Colorado,8.0,"Denver County, CO",8031.0,White,2106-3,2017.0,2017.0,Male,M,11.0,3817.0,2.88 (Unreliable)
80,NaN,Colorado,8.0,"El Paso County, CO",8041.0,White,2106-3,2017.0,2017.0,Female,F,22.0,3764.0,5.84
81,NaN,Colorado,8.0,"El Paso County, CO",8041.0,White,2106-3,2017.0,2017.0,Male,M,29.0,3997.0,7.26
82,NaN,Colorado,8.0,"Jefferson County, CO",8059.0,White,2106-3,2017.0,2017.0,Male,M,12.0,2652.0,4.52 (Unreliable)
83,NaN,Colorado,8.0,"Larimer County, CO",8069.0,White,2106-3,2017.0,2017.0,Male,M,10.0,1571.0,6.37 (Unreliable)
84,NaN,Colorado,8.0,"Weld County, CO",8123.0,White,2106-3,2017.0,2017.0,Female,F,13.0,1947.0,6.68 (Unreliable)
85,NaN,Colorado,8.0,"Unidentified Counties, CO",8999.0,White,2106-3,2017.0,2017.0,Female,F,19.0,5294.0,3.59 (Unreliable)
86,NaN,Colorado,8.0,"Unidentified Counties, CO",8999.0,White,2106-3,2017.0,2017.0,Male,M,28.0,5531.0,5.06
87,NaN,Connecticut,9.0,"Fairfield County, CT",9001.0,White,2106-3,2017.0,2017.0,Female,F,11.0,3623.0,3.04 (Unreliable)
88,NaN,Connecticut,9.0,"Fairfield County, CT",9001.0,White,2106-3,2017.0,2017.0,Male,M,17.0,3872.0,4.39 (Unreliable)
89,NaN,Connecticut,9.0,"Hartford County, CT",9003.0,Black or African American,2054-5,2017.0,2017.0,Female,F,10.0,858.0,11.66 (Unreliable)
90,NaN,Connecticut,9.0,"Hartford County, CT",9003.0,White,2106-3,2017.0,2017.0,Male,M,11.0,3184.0,3.45 (Unreliable)
91,NaN,Connecticut,9.0,"New Haven County, CT",9009.0,White,2106-3,2017.0,2017.0,Female,F,13.0,3043.0,4.27 (Unreliable)
92,NaN,Connecticut,9.0,"New Haven County, CT",9009.0,White,2106-3,2017.0,2017.0,Male,M,13.0,3135.0,4.15 (Unreliable)
93,NaN,Delaware,10.0,"New Castle County, DE",10003.0,Black or African American,2054-5,2017.0,2017.0,Female,F,12.0,1029.0,11.66 (Unreliable)
94,NaN,Delaware,10.0,"New Castle County, DE",10003.0,Black or African American,2054-5,2017.0,2017.0,Male,M,17.0,984.0,17.28 (Unreliable)
95,NaN,Delaware,10.0,"New Castle County, DE",10003.0,White,2106-3,2017.0,2017.0,Female,F,12.0,1744.0,6.88 (Unreliable)
96,NaN,District of Columbia,11.0,"District of Columbia, DC",11001.0,Black or African American,2054-5,2017.0,2017.0,Female,F,27.0,2585.0,10.44
97,NaN,District of Columbia,11.0,"District of Columbia, DC",11001.0,Black or African American,2054-5,2017.0,2017.0,Male,M,29.0,2617.0,11.08
98,NaN,Florida,12.0,"Brevard County, FL",12009.0,White,2106-3,2017.0,2017.0,Male,M,17.0,2053.0,8.28 (Unreliable)
99,NaN,Florida,12.0,"Broward County, FL",12011.0,Black or African American,2054-5,2017.0,2017.0,Female,F,35.0,4610.0,7.59

In [15]:
stateIM2007.shape

(633, 14)

In [16]:
stateIM2007.describe()

,State Code,County Code,Year of Death,Year of Death Code,Deaths,Births
count,568.000000,568.000000,568.0,568.0,568.000000,568.000000
mean,28.014085,28317.753521,2017.0,2017.0,31.232394,5118.459507
std,15.503421,15551.851482,0.0,0.0,32.776334,5901.403448
min,1.000000,1073.000000,2017.0,2017.0,10.000000,571.000000
25%,12.750000,13038.000000,2017.0,2017.0,13.000000,1837.500000
50%,29.000000,29095.000000,2017.0,2017.0,18.000000,3090.000000
75%,40.000000,40999.000000,2017.0,2017.0,35.000000,5529.500000
max,56.000000,56999.000000,2017.0,2017.0,253.000000,43362.000000

In [17]:
# Import Data
stateIM2007noRG = pd.read_csv("infant_mortality/CDC_LinkedBirthDeathRates/Linked Birth  Infant Death Records, 2007-2017.txt", sep='\t', engine='python')

stateIM2007noRG.head(100)

,Notes,Census Region,Census Region Code,State,State Code,County,County Code,Deaths,Births,Death Rate
0,NaN,Census Region 1: Northeast,CENS-R1,Connecticut,9.0,"Fairfield County, CT",9001.0,43.0,9904.0,4.34
1,NaN,Census Region 1: Northeast,CENS-R1,Connecticut,9.0,"Hartford County, CT",9003.0,43.0,9204.0,4.67
2,NaN,Census Region 1: Northeast,CENS-R1,Connecticut,9.0,"New Haven County, CT",9009.0,49.0,8641.0,5.67
3,NaN,Census Region 1: Northeast,CENS-R1,Connecticut,9.0,"New London County, CT",9011.0,11.0,2603.0,4.23 (Unreliable)
4,NaN,Census Region 1: Northeast,CENS-R1,Connecticut,9.0,"Unidentified Counties, CT",9999.0,13.0,4869.0,2.67 (Unreliable)
5,NaN,Census Region 1: Northeast,CENS-R1,Maine,23.0,"Cumberland County, ME",23005.0,14.0,2733.0,5.12 (Unreliable)
6,NaN,Census Region 1: Northeast,CENS-R1,Maine,23.0,"Unidentified Counties, ME",23999.0,58.0,9565.0,6.06
7,NaN,Census Region 1: Northeast,CENS-R1,Massachusetts,25.0,"Bristol County, MA",25005.0,18.0,5733.0,3.14 (Unreliable)
8,NaN,Census Region 1: Northeast,CENS-R1,Massachusetts,25.0,"Essex County, MA",25009.0,36.0,8655.0,4.16
9,NaN,Census Region 1: Northeast,CENS-R1,Massachusetts,25.0,"Hampden County, MA",25013.0,29.0,4975.0,5.83
10,NaN,Census Region 1: Northeast,CENS-R1,Massachusetts,25.0,"Middlesex County, MA",25017.0,49.0,16736.0,2.93
11,NaN,Census Region 1: Northeast,CENS-R1,Massachusetts,25.0,"Norfolk County, MA",25021.0,22.0,7134.0,3.08
12,NaN,Census Region 1: Northeast,CENS-R1,Massachusetts,25.0,"Plymouth County, MA",25023.0,19.0,5189.0,3.66 (Unreliable)
13,NaN,Census Region 1: Northeast,CENS-R1,Massachusetts,25.0,"Suffolk County, MA",25025.0,37.0,9359.0,3.95
14,NaN,Census Region 1: Northeast,CENS-R1,Massachusetts,25.0,"Worcester County, MA",25027.0,36.0,8513.0,4.23
15,NaN,Census Region 1: Northeast,CENS-R1,Massachusetts,25.0,"Unidentified Counties, MA",25999.0,13.0,4408.0,2.95 (Unreliable)
16,NaN,Census Region 1: Northeast,CENS-R1,New Hampshire,33.0,"Hillsborough County, NH",33011.0,21.0,4178.0,5.03
17,NaN,Census Region 1: Northeast,CENS-R1,New Hampshire,33.0,"Rockingham County, NH",33015.0,11.0,2669.0,4.12 (Unreliable)
18,NaN,Census Region 1: Northeast,CENS-R1,New Hampshire,33.0,"Unidentified Counties, NH",33999.0,19.0,5269.0,3.61 (Unreliable)
19,NaN,Census Region 1: Northeast,CENS-R1,Rhode Island,44.0,"Providence County, RI",44007.0,49.0,7173.0,6.83
20,NaN,Census Region 1: Northeast,CENS-R1,Rhode Island,44.0,"Unidentified Counties, RI",44999.0,17.0,3465.0,4.91 (Unreliable)
21,NaN,Census Region 1: Northeast,CENS-R1,Vermont,50.0,"Unidentified Counties, VT",50999.0,27.0,5655.0,4.77
22,NaN,Census Region 1: Northeast,CENS-R1,New Jersey,34.0,"Atlantic County, NJ",34001.0,20.0,2804.0,7.13
23,NaN,Census Region 1: Northeast,CENS-R1,New Jersey,34.0,"Bergen County, NJ",34003.0,23.0,9339.0,2.46
24,NaN,Census Region 1: Northeast,CENS-R1,New Jersey,34.0,"Burlington County, NJ",34005.0,30.0,4424.0,6.78
25,NaN,Census Region 1: Northeast,CENS-R1,New Jersey,34.0,"Camden County, NJ",34007.0,51.0,6022.0,8.47
26,NaN,Census Region 1: Northeast,CENS-R1,New Jersey,34.0,"Essex County, NJ",34013.0,58.0,10298.0,5.63
27,NaN,Census Region 1: Northeast,CENS-R1,New Jersey,34.0,"Gloucester County, NJ",34015.0,17.0,2891.0,5.88 (Unreliable)
28,NaN,Census Region 1: Northeast,CENS-R1,New Jersey,34.0,"Hudson County, NJ",34017.0,42.0,10165.0,4.13
29,NaN,Census Region 1: Northeast,CENS-R1,New Jersey,34.0,"Mercer County, NJ",34021.0,24.0,4081.0,5.88
...,...,...,...,...,...,...,...,...,...,...
70,NaN,Census Region 2: Midwest,CENS-R2,Illinois,17.0,"DuPage County, IL",17043.0,37.0,10337.0,3.58
71,NaN,Census Region 2: Midwest,CENS-R2,Illinois,17.0,"Kane County, IL",17089.0,19.0,6339.0,3.00 (Unreliable)
72,NaN,Census Region 2: Midwest,CENS-R2,Illinois,17.0,"Lake County, IL",17097.0,36.0,7607.0,4.73
73,NaN,Census Region 2: Midwest,CENS-R2,Illinois,17.0,"Madison County, IL",17119.0,22.0,2892.0,7.61
74,NaN,Census Region 2: Midwest,CENS-R2,Illinois,17.0,"St. Clair County, IL",17163.0,41.0,3221.0,12.73
75,NaN,Census Region 2: Midwest,CENS-R2,Illinois,17.0,"Will County, IL",17197.0,41.0,7427.0,5.52
76,NaN,Census Region 2: Midwest,CENS-R2,Illinois,17.0,"Winnebago County, IL",17201.0,37.0,3501.0,10.57
77,NaN,Census Region 2: Midwest,CENS-R2,Illinois,17.0,"Unidentified Counties, IL",17999.0,274.0,40507.0,6.76
78,NaN,Census Region 2: Midwest,CENS-R2,Indiana,18.0,"Allen County, IN",18003.0,35.0,5206.0,6.72
79,NaN,Census Region 2: Midwest,CENS-R2,Indiana,18.0,"Hamilton County, IN",18057.0,24.0,3835.0,6.26
80,NaN,Census Region 2: Midwest,CENS-R2,Indiana,18.0,"Lake County, IN",18089.0,52.0,5601.0,9.28
81,NaN,Census Region 2: Midwest,CENS-R2,Indiana,18.0,"Marion County, IN",18097.0,108.0,14389.0,7.51
82,NaN,Census Region 2: Midwest,CENS-R2,Indiana,18.0,"St. Joseph County, IN",18141.0,34.0,3497.0,9.72
83,NaN,Census Region 2: Midwest,CENS-R2,Indiana,18.0,"Unidentified Counties, IN",18999.0,340.0,49642.0,6.85
84,NaN,Census Region 2: Midwest,CENS-R2,Michigan,26.0,"Genesee County, MI",26049.0,35.0,4739.0,7.39
85,NaN,Census Region 2: Midwest,CENS-R2,Michigan,26.0,"Ingham County, MI",26065.0,15.0,3237.0,4.63 (Unreliable)
86,NaN,Census Region 2: Midwest,CENS-R2,Michigan,26.0,"Kalamazoo County, MI",26077.0,35.0,3033.0,11.54
87,NaN,Census Region 2: Midwest,CENS-R2,Michigan,26.0,"Kent County, MI",26081.0,45.0,8697.0,5.17
88,NaN,Census Region 2: Midwest,CENS-R2,Michigan,26.0,"Macomb County, MI",26099.0,67.0,9240.0,7.25
89,NaN,Census Region 2: Midwest,CENS-R2,Michigan,26.0,"Oakland County, MI",26125.0,73.0,13235.0,5.52
90,NaN,Census Region 2: Midwest,CENS-R2,Michigan,26.0,"Ottawa County, MI",26139.0,12.0,3264.0,3.68 (Unreliable)
91,NaN,Census Region 2: Midwest,CENS-R2,Michigan,26.0,"Washtenaw County, MI",26161.0,16.0,3536.0,4.52 (Unreliable)
92,NaN,Census Region 2: Midwest,CENS-R2,Michigan,26.0,"Wayne County, MI",26163.0,243.0,23279.0,10.44
93,NaN,Census Region 2: Midwest,CENS-R2,Michigan,26.0,"Unidentified Counties, MI",26999.0,213.0,39166.0,5.44
94,NaN,Census Region 2: Midwest,CENS-R2,Ohio,39.0,"Butler County, OH",39017.0,25.0,4466.0,5.60
95,NaN,Census Region 2: Midwest,CENS-R2,Ohio,39.0,"Cuyahoga County, OH",39035.0,121.0,14550.0,8.32
96,NaN,Census Region 2: Midwest,CENS-R2,Ohio,39.0,"Franklin County, OH",39049.0,156.0,18886.0,8.26
97,NaN,Census Region 2: Midwest,CENS-R2,Ohio,39.0,"Hamilton County, OH",39061.0,98.0,10833.0,9.05
98,NaN,Census Region 2: Midwest,CENS-R2,Ohio,39.0,"Lorain County, OH",39093.0,21.0,3183.0,6.60
99,NaN,Census Region 2: Midwest,CENS-R2,Ohio,39.0,"Lucas County, OH",39095.0,54.0,5445.0,9.92

In [18]:
stateIM2007noRG.shape

(366, 10)

In [19]:
stateIM2007noRG.describe()

       State Code   County Code      Deaths         Births
count  305.000000    305.000000  305.000000     305.000000
mean    28.206557  28439.127869   73.055738   12582.760656
std     15.517179  15548.027856   91.816036   14856.574701
min      1.000000   1073.000000   10.000000    2550.000000
25%     12.000000  12999.000000   23.000000    4466.000000
50%     29.000000  29183.000000   38.000000    7130.000000
75%     42.000000  42003.000000   73.000000   13326.000000
max     56.000000  56999.000000  587.000000  116950.000000

In [21]:
# Import Data
stateIMwonder = pd.read_csv("infant_mortality/CDC_LinkedBirthDeathRates/wonderCDCAllStatesRatesOnly.txt", sep='\t', engine='python')

stateIMwonder.head(100)

,notes,Census Region,Census Region Code,State,State Code,County,County Code,Year of Death,Year of Death Code,Deaths,Births,Death Rate
0,NaN,Census Region 1: Northeast,CENS-R1,Connecticut,9.0,"Fairfield County, CT",9001.0,2017.0,2017.0,43.0,9904.0,4.34
1,NaN,Census Region 1: Northeast,CENS-R1,Connecticut,9.0,"Hartford County, CT",9003.0,2017.0,2017.0,43.0,9204.0,4.67
2,NaN,Census Region 1: Northeast,CENS-R1,Connecticut,9.0,"New Haven County, CT",9009.0,2017.0,2017.0,49.0,8641.0,5.67
3,NaN,Census Region 1: Northeast,CENS-R1,Connecticut,9.0,"New London County, CT",9011.0,2017.0,2017.0,11.0,2603.0,4.23 (Unreliable)
4,NaN,Census Region 1: Northeast,CENS-R1,Connecticut,9.0,"Unidentified Counties, CT",9999.0,2017.0,2017.0,13.0,4869.0,2.67 (Unreliable)
5,NaN,Census Region 1: Northeast,CENS-R1,Maine,23.0,"Cumberland County, ME",23005.0,2017.0,2017.0,14.0,2733.0,5.12 (Unreliable)
6,NaN,Census Region 1: Northeast,CENS-R1,Maine,23.0,"Unidentified Counties, ME",23999.0,2017.0,2017.0,58.0,9565.0,6.06
7,NaN,Census Region 1: Northeast,CENS-R1,Massachusetts,25.0,"Bristol County, MA",25005.0,2017.0,2017.0,18.0,5733.0,3.14 (Unreliable)
8,NaN,Census Region 1: Northeast,CENS-R1,Massachusetts,25.0,"Essex County, MA",25009.0,2017.0,2017.0,36.0,8655.0,4.16
9,NaN,Census Region 1: Northeast,CENS-R1,Massachusetts,25.0,"Hampden County, MA",25013.0,2017.0,2017.0,29.0,4975.0,5.83
10,NaN,Census Region 1: Northeast,CENS-R1,Massachusetts,25.0,"Middlesex County, MA",25017.0,2017.0,2017.0,49.0,16736.0,2.93
11,NaN,Census Region 1: Northeast,CENS-R1,Massachusetts,25.0,"Norfolk County, MA",25021.0,2017.0,2017.0,22.0,7134.0,3.08
12,NaN,Census Region 1: Northeast,CENS-R1,Massachusetts,25.0,"Plymouth County, MA",25023.0,2017.0,2017.0,19.0,5189.0,3.66 (Unreliable)
13,NaN,Census Region 1: Northeast,CENS-R1,Massachusetts,25.0,"Suffolk County, MA",25025.0,2017.0,2017.0,37.0,9359.0,3.95
14,NaN,Census Region 1: Northeast,CENS-R1,Massachusetts,25.0,"Worcester County, MA",25027.0,2017.0,2017.0,36.0,8513.0,4.23
15,NaN,Census Region 1: Northeast,CENS-R1,Massachusetts,25.0,"Unidentified Counties, MA",25999.0,2017.0,2017.0,13.0,4408.0,2.95 (Unreliable)
16,NaN,Census Region 1: Northeast,CENS-R1,New Hampshire,33.0,"Hillsborough County, NH",33011.0,2017.0,2017.0,21.0,4178.0,5.03
17,NaN,Census Region 1: Northeast,CENS-R1,New Hampshire,33.0,"Rockingham County, NH",33015.0,2017.0,2017.0,11.0,2669.0,4.12 (Unreliable)
18,NaN,Census Region 1: Northeast,CENS-R1,New Hampshire,33.0,"Unidentified Counties, NH",33999.0,2017.0,2017.0,19.0,5269.0,3.61 (Unreliable)
19,NaN,Census Region 1: Northeast,CENS-R1,Rhode Island,44.0,"Providence County, RI",44007.0,2017.0,2017.0,49.0,7173.0,6.83
20,NaN,Census Region 1: Northeast,CENS-R1,Rhode Island,44.0,"Unidentified Counties, RI",44999.0,2017.0,2017.0,17.0,3465.0,4.91 (Unreliable)
21,NaN,Census Region 1: Northeast,CENS-R1,Vermont,50.0,"Unidentified Counties, VT",50999.0,2017.0,2017.0,27.0,5655.0,4.77
22,NaN,Census Region 1: Northeast,CENS-R1,New Jersey,34.0,"Atlantic County, NJ",34001.0,2017.0,2017.0,20.0,2804.0,7.13
23,NaN,Census Region 1: Northeast,CENS-R1,New Jersey,34.0,"Bergen County, NJ",34003.0,2017.0,2017.0,23.0,9339.0,2.46
24,NaN,Census Region 1: Northeast,CENS-R1,New Jersey,34.0,"Burlington County, NJ",34005.0,2017.0,2017.0,30.0,4424.0,6.78
25,NaN,Census Region 1: Northeast,CENS-R1,New Jersey,34.0,"Camden County, NJ",34007.0,2017.0,2017.0,51.0,6022.0,8.47
26,NaN,Census Region 1: Northeast,CENS-R1,New Jersey,34.0,"Essex County, NJ",34013.0,2017.0,2017.0,58.0,10298.0,5.63
27,NaN,Census Region 1: Northeast,CENS-R1,New Jersey,34.0,"Gloucester County, NJ",34015.0,2017.0,2017.0,17.0,2891.0,5.88 (Unreliable)
28,NaN,Census Region 1: Northeast,CENS-R1,New Jersey,34.0,"Hudson County, NJ",34017.0,2017.0,2017.0,42.0,10165.0,4.13
29,NaN,Census Region 1: Northeast,CENS-R1,New Jersey,34.0,"Mercer County, NJ",34021.0,2017.0,2017.0,24.0,4081.0,5.88
...,...,...,...,...,...,...,...,...,...,...,...,...
70,NaN,Census Region 2: Midwest,CENS-R2,Illinois,17.0,"DuPage County, IL",17043.0,2017.0,2017.0,37.0,10337.0,3.58
71,NaN,Census Region 2: Midwest,CENS-R2,Illinois,17.0,"Kane County, IL",17089.0,2017.0,2017.0,19.0,6339.0,3.00 (Unreliable)
72,NaN,Census Region 2: Midwest,CENS-R2,Illinois,17.0,"Lake County, IL",17097.0,2017.0,2017.0,36.0,7607.0,4.73
73,NaN,Census Region 2: Midwest,CENS-R2,Illinois,17.0,"Madison County, IL",17119.0,2017.0,2017.0,22.0,2892.0,7.61
74,NaN,Census Region 2: Midwest,CENS-R2,Illinois,17.0,"St. Clair County, IL",17163.0,2017.0,2017.0,41.0,3221.0,12.73
75,NaN,Census Region 2: Midwest,CENS-R2,Illinois,17.0,"Will County, IL",17197.0,2017.0,2017.0,41.0,7427.0,5.52
76,NaN,Census Region 2: Midwest,CENS-R2,Illinois,17.0,"Winnebago County, IL",17201.0,2017.0,2017.0,37.0,3501.0,10.57
77,NaN,Census Region 2: Midwest,CENS-R2,Illinois,17.0,"Unidentified Counties, IL",17999.0,2017.0,2017.0,274.0,40507.0,6.76
78,NaN,Census Region 2: Midwest,CENS-R2,Indiana,18.0,"Allen County, IN",18003.0,2017.0,2017.0,35.0,5206.0,6.72
79,NaN,Census Region 2: Midwest,CENS-R2,Indiana,18.0,"Hamilton County, IN",18057.0,2017.0,2017.0,24.0,3835.0,6.26
80,NaN,Census Region 2: Midwest,CENS-R2,Indiana,18.0,"Lake County, IN",18089.0,2017.0,2017.0,52.0,5601.0,9.28
81,NaN,Census Region 2: Midwest,CENS-R2,Indiana,18.0,"Marion County, IN",18097.0,2017.0,2017.0,108.0,14389.0,7.51
82,NaN,Census Region 2: Midwest,CENS-R2,Indiana,18.0,"St. Joseph County, IN",18141.0,2017.0,2017.0,34.0,3497.0,9.72
83,NaN,Census Region 2: Midwest,CENS-R2,Indiana,18.0,"Unidentified Counties, IN",18999.0,2017.0,2017.0,340.0,49642.0,6.85
84,NaN,Census Region 2: Midwest,CENS-R2,Michigan,26.0,"Genesee County, MI",26049.0,2017.0,2017.0,35.0,4739.0,7.39
85,NaN,Census Region 2: Midwest,CENS-R2,Michigan,26.0,"Ingham County, MI",26065.0,2017.0,2017.0,15.0,3237.0,4.63 (Unreliable)
86,NaN,Census Region 2: Midwest,CENS-R2,Michigan,26.0,"Kalamazoo County, MI",26077.0,2017.0,2017.0,35.0,3033.0,11.54
87,NaN,Census Region 2: Midwest,CENS-R2,Michigan,26.0,"Kent County, MI",26081.0,2017.0,2017.0,45.0,8697.0,5.17
88,NaN,Census Region 2: Midwest,CENS-R2,Michigan,26.0,"Macomb County, MI",26099.0,2017.0,2017.0,67.0,9240.0,7.25
89,NaN,Census Region 2: Midwest,CENS-R2,Michigan,26.0,"Oakland County, MI",26125.0,2017.0,2017.0,73.0,13235.0,5.52
90,NaN,Census Region 2: Midwest,CENS-R2,Michigan,26.0,"Ottawa County, MI",26139.0,2017.0,2017.0,12.0,3264.0,3.68 (Unreliable)
91,NaN,Census Region 2: Midwest,CENS-R2,Michigan,26.0,"Washtenaw County, MI",26161.0,2017.0,2017.0,16.0,3536.0,4.52 (Unreliable)
92,NaN,Census Region 2: Midwest,CENS-R2,Michigan,26.0,"Wayne County, MI",26163.0,2017.0,2017.0,243.0,23279.0,10.44
93,NaN,Census Region 2: Midwest,CENS-R2,Michigan,26.0,"Unidentified Counties, MI",26999.0,2017.0,2017.0,213.0,39166.0,5.44
94,NaN,Census Region 2: Midwest,CENS-R2,Ohio,39.0,"Butler County, OH",39017.0,2017.0,2017.0,25.0,4466.0,5.60
95,NaN,Census Region 2: Midwest,CENS-R2,Ohio,39.0,"Cuyahoga County, OH",39035.0,2017.0,2017.0,121.0,14550.0,8.32
96,NaN,Census Region 2: Midwest,CENS-R2,Ohio,39.0,"Franklin County, OH",39049.0,2017.0,2017.0,156.0,18886.0,8.26
97,NaN,Census Region 2: Midwest,CENS-R2,Ohio,39.0,"Hamilton County, OH",39061.0,2017.0,2017.0,98.0,10833.0,9.05
98,NaN,Census Region 2: Midwest,CENS-R2,Ohio,39.0,"Lorain County, OH",39093.0,2017.0,2017.0,21.0,3183.0,6.60
99,NaN,Census Region 2: Midwest,CENS-R2,Ohio,39.0,"Lucas County, OH",39095.0,2017.0,2017.0,54.0,5445.0,9.92

In [22]:
stateIMwonder.shape

(367, 12)

In [23]:
stateIMwonder.describe()

,State Code,County Code,Year of Death,Year of Death Code,Deaths,Births
count,305.000000,305.000000,305.0,305.0,305.000000,305.000000
mean,28.206557,28439.127869,2017.0,2017.0,73.055738,12582.760656
std,15.517179,15548.027856,0.0,0.0,91.816036,14856.574701
min,1.000000,1073.000000,2017.0,2017.0,10.000000,2550.000000
25%,12.000000,12999.000000,2017.0,2017.0,23.000000,4466.000000
50%,29.000000,29183.000000,2017.0,2017.0,38.000000,7130.000000
75%,42.000000,42003.000000,2017.0,2017.0,73.000000,13326.000000
max,56.000000,56999.000000,2017.0,2017.0,587.000000,116950.000000

## C:\Users\carol\Documents\GitHub\FinalProject-MachineLearning\data\DRAFT\infant_mortality\ohioOnly

## C:\Users\carol\Documents\GitHub\FinalProject-MachineLearning\data\DRAFT\infant_mortality\unicef_global_rates

In [51]:
# Import Data
unicefGlobalRate = pd.read_excel("infant_mortality/unicef_global_rates/IMR_mortality_rate_2019.xlsx")

unicefGlobalRate.head()

,Unnamed: 0,Unnamed: 1,UNICEF GLOBAL DATABASES,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Child Mortality Estimates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Country-specific infant mortality rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## C:\Users\carol\Documents\GitHub\FinalProject-MachineLearning\data\DRAFT\infant_race

In [63]:
# Import Data
MICHdf = pd.read_excel("infant_race/MICH-1.3-data.xlsx")

MICHdf.head()

,Unnamed: 0,Unnamed: 1,1998,Unnamed: 3,Unnamed: 4,Unnamed: 5,1999,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 68,Unnamed: 69,2015,Unnamed: 71,Unnamed: 72,Unnamed: 73,2016,Unnamed: 75,Unnamed: 76,Unnamed: 77
0,PopTitle,Geography,Estimate,StdErr,LowerCI,UpperCI,Estimate,StdErr,LowerCI,UpperCI,...,LowerCI,UpperCI,Estimate,StdErr,LowerCI,UpperCI,Estimate,StdErr,LowerCI,UpperCI
1,Total,United States,7.2,0.043,7.1,7.3,7,0.042,6.9,7.1,...,5.7,5.9,5.9,0.039,5.8,6,5.9,0.039,5.8,5.9
2,Sex (of child),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Male,United States,7.8,0.062,7.7,7.9,7.7,0.062,7.6,7.8,...,6.2,6.4,6.4,0.056,6.3,6.5,6.4,0.056,6.3,6.5
4,Female,United States,6.5,0.058,6.4,6.6,6.3,0.057,6.2,6.4,...,5.2,5.4,5.4,0.053,5.3,5.5,5.3,0.053,5.2,5.4

In [64]:
MICHdf.shape

(44, 78)

In [65]:
MICHdf.describe()

,Unnamed: 0,Unnamed: 1,1998,Unnamed: 3,Unnamed: 4,Unnamed: 5,1999,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 68,Unnamed: 69,2015,Unnamed: 71,Unnamed: 72,Unnamed: 73,2016,Unnamed: 75,Unnamed: 76,Unnamed: 77
count,42,25,4.0,4.000,4.0,4.0,4.0,4.000,4.0,4.0,...,25.0,25,25.0,25.000,25.0,25,25.0,25.000,25.0,25
unique,42,2,4.0,4.000,4.0,4.0,4.0,4.000,4.0,4.0,...,24.0,22,24.0,23.000,23.0,22,20.0,24.000,23.0,23
top,"Black or African American, not Hispanic ...",United States,7.8,0.058,7.7,7.9,7.7,0.057,7.6,7.8,...,4.9,5,4.9,0.071,5.6,5,4.9,0.045,5.4,5
freq,1,24,1.0,1.000,1.0,1.0,1.0,1.000,1.0,1.0,...,2.0,3,2.0,2.000,2.0,2,3.0,2.000,2.0,3

In [66]:
# Import Data
RG20032006 = pd.read_csv("infant_race/RaceGender2003_2006.txt")
RG20032006 .head()

                                     Notes\t"State"\t"State Code"\t"County"\t"County Code"\t"Mother's Bridged Race"\t"Mother's Bridged Race Code"\t"Gender"\t"Gender Code"\t"Year of Death"\t"Year of Death Code"\tDeaths\tBirths\tDeath Rate
\t"Alabama"\t"01"\t"Jefferson County   AL"\t"01073"\t"Black or African American"\t"2...
\t"Alabama"\t"01"\t"Jefferson County   AL"\t"01073"\t"Black or African American"\t"2...
\t"Alabama"\t"01"\t"Jefferson County   AL"\t"01073"\t"Black or African American"\t"2...
\t"Alabama"\t"01"\t"Jefferson County   AL"\t"01073"\t"Black or African American"\t"2...
\t"Alabama"\t"01"\t"Jefferson County   AL"\t"01073"\t"Black or African American"\t"2...

In [67]:
RG20032006.shape

(2700, 1)

In [68]:
RG20032006.describe()

       Notes\t"State"\t"State Code"\t"County"\t"County Code"\t"Mother's Bridged Race"\t"Mother's Bridged Race Code"\t"Gender"\t"Gender Code"\t"Year of Death"\t"Year of Death Code"\tDeaths\tBirths\tDeath Rate
count                                                2652
unique                                               2652
top      GA"\t"13135"\t"Black or African American"\t"2...
freq                                                    1

## C:\Users\carol\Documents\GitHub\FinalProject-MachineLearning\data\DRAFT\other_factors

In [74]:
# Import Data
from tabula import read_pdf


MCH2016-17 = pd.read_pdf("other_factors/Selected-2016-2017-MCH-Indicators-Aggregate-by-Site_508.pdf")
MCH2016-17

SyntaxError: can't assign to operator (<ipython-input-74-ba55f36c77a0>, line 5)

## C:\Users\carol\Documents\GitHub\FinalProject-MachineLearning\data\DRAFT\poverty_rate

In [25]:
# Import New data
# Import Data
ohioMI2017 = pd.read_csv("poverty_rate/median income per county 2017.csv")

ohioMI2017.head()

,Id,Id2,Geography,Target Geo Id,Target Geo Id2,Geographic Area,Geographic Area.1,Dollar,Margin of Error
0,0400000US39,39,Ohio,0400000US39,39,Ohio,Ohio,52407,153
1,0400000US39,39,Ohio,0500000US39001,39001,Ohio - Adams County,Adams County,36320,2651
2,0400000US39,39,Ohio,0500000US39003,39003,Ohio - Allen County,Allen County,47905,1708
3,0400000US39,39,Ohio,0500000US39005,39005,Ohio - Ashland County,Ashland County,50893,1608
4,0400000US39,39,Ohio,0500000US39007,39007,Ohio - Ashtabula County,Ashtabula County,43017,1597

In [7]:
ohioMI2017.shape

(89, 9)

In [8]:
ohioMI2017.describe()

        Id2  Target Geo Id2         Dollar  Margin of Error
count  89.0       89.000000      89.000000        89.000000
mean   39.0    38649.247191   51749.674157      1955.988764
std     0.0     4139.497486   10077.248313       834.719693
min    39.0       39.000000   36320.000000       153.000000
25%    39.0    39043.000000   44820.000000      1509.000000
50%    39.0    39087.000000   49997.000000      1900.000000
75%    39.0    39131.000000   56193.000000      2425.000000
max    39.0    39175.000000  100229.000000      5489.000000